pytest
pytest-asyncio
httpx
pylint
ipdb
numpy
pandas
scikit-learn
tqdm
colorama

#GOOGLE
google-cloud-bigquery
google-cloud-storage
pyarrow
db-dtypes

# Geospatial packages
shapely
pyproj
geojson

# Explo
jupyterlab
jupyter
lazypredict
seaborn
matplotlib

# API
fastapi
uvicorn

# GCP
google-cloud-bigquery
google-cloud-storage

# Setup
setuptools
